#!/bin/bash
#
function shutdown()
{
 echo `date` " " `whoami` " Received a signal to shutdown"
 python ${PRJ}/status.py SHUTDOWN


  exit 0
}

function startup()
{
   echo `date` " " `whoami` " Starting..."

 # nothing to do here  
  tail -f /dev/null &
  wait $!
}

trap shutdown SIGTERM
trap shutdown SIGKILL

startup;
